{% extends "base.html" %}

{% block titulo %} Notrosos {% endblock %}

{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Nosotros</h1>
                <h2>Esta es una pagina creada con el objetivo de aprender el funcionamiento de Django para crear CRUDs</h2>
                <p>Mi nombre es Rodri Camio y tengo poca experiencia en el diseño web por lo que con ayuda de un tutorial pude realizar esta pagina web.</p>
                
            </div>
        </div>
    </div>

{% endblock %}